<div class="white-text">
<h1>About Us</h1><br>

<p>Great Outdoors (GO) is an electronic distributor of outdoor products. Go sources the products from various manufacturers 
    and supplies it to Retailers across various countries. Due to a lack of intermediaries, GO has been able to price its 
    products very competitively offering significant discounts as compared to "brick and mortar" rivals. This has helped 
    their revenue grow very rapidly. GO's gross profit is quite healthy. However, they continue to make investments into
    the business to drive growth as a result of which their net profit margins are very thin and at times become red as well.
    So, there is constant pressure to optimize on costs and enchance probability so that they can further fuel growth. 
    GO is always looking at opportunities for cost optimization in order to enhance profitability. 
</p><br>

<div>
<b>In terms of market presence, we have: </b>
<div class="container">
<ul>
    <li><p>A strong presence in the Americas</p></li>
    <li><p>Have made good inroads in Europe</p></li>
    <li><p>Are relatively nonexistent in the emerging economies</p></li>
</ul>
</div>
</div>
</div>
